<h1 class="title has-text-centered pt-6">
        About us
</h1>
<div class="section is-centered">
    <div class="column">
        <p>
            This site is a collection of all of Astrid Lindgrens work. It is made by a student from Jönköping university.
             Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem assumenda dolor illo tenetur. 
             Atque ex error excepturi! Sapiente, deserunt exercitationem. Inventore aut fuga harum nemo pariatur
              vero excepturi cumque consequuntur! Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
              Hic consequatur, ratione nam odit, assumenda ex debitis labore consectetur a voluptatum alias
              cum dicta neque ad aspernatur molestias velit nobis fugit?
        </p>
    </div>
</div>

<div class="columns is-centered">
    <div class="column is-3">
        <img src="/images/img_ovrigt/pippiLillagubben .jpeg" alt="">
    </div>
    <div class="column is-3">
        <img src="/images/img_ovrigt/karlssonOvrigt .jpeg" alt="">
    </div>
</div>