<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="antal">
    <select name="frukter" id="fruits">
        <option value="banan"> banana</option>
        <option value="nektarin"> nectarine</option>
    </select>
    <button>sumbit</button>
</form>
