<link rel="stylesheet" href="/layout.css">
<h1 class="title has-text-centered pt-6">   
    Astrid Lindgren
</h1>

<div class="columns section is-centered">
    <div class="column ">
        <div class="subtitle">
            Life of Astrid Lindgren
        </div>
        <p>
            Astrid Anna Emilia Lindgren, born Ericsson on November 14, 1907 in Vimmerby county parish in Småland, died January 28, 
            2002 in Stockholm, was a Swedish children's book, song lyrics and screenplay author as well as publishing editor and opinion leader. 
            Lindgren is known worldwide for his children's books about, among others, Pippi Longstocking (1945), Barnen i Bullerbyn (1947), 
            Karlsson på taket (1955), Madicken (1960), 
            Emil in Lönneberga (1963), The Salt Crow (1964), 
            The Brothers Lionheart (1973) and Ronja Rövardotter (1981). She considered that it was absurd that self-employed people could have to pay more in marginal tax than they earned. 
            The short story received a lot of attention and spread. The government's treatment of Lindgren, when Finance Minister 
            Gunnar Sträng first replied that Lindgren was profoundly ignorant of the errors of tax policy,[3] and later admitted 
            that she was right in substance, is considered to have been a contributing factor to the Social Democrats losing government 
            power for the first time in 40 year. 
        </p>
    </div>
    <div class="column has-text-centered">
        <img src="/images/img_astrid/astridFoto.jpeg" alt="">
    </div>
</div>

<div class="columns section is-centered">
    <div class="column has-text-centered">
        <img src="/images/img_astrid/pippi_och_astrid.jpeg" alt="">
    </div>
    <div class="column">
        <div class="subtitle">
            Life of Astrid Lindgren
        </div>
        <p>
            She also got involved in children's rights, against nuclear power and in the Animal
            Protection Campaign with several debate articles in Expressen. Astrid Lindgren took over Selma Lagerlöf's place, as a motif 
            on the Swedish 20 kroner banknote, on 1 October 2015. The estimated 2019 figure for book sales is 165 million copies and they have been translated into 107 languages ​​(2019).
            [1] Many of Lindgren's books have been made into films — the majority are Swedish feature films. 
            Recurring in Lindgren's films are composer Georg Riedel, director Olle Hellbom and actor Allan Edwall. 
            A few foreign films and animations of Lindgren's books and short stories have also been produced. 
            Lindgren was awarded a large number of national and international prizes for his books, including the Swedish Academy's 
            large gold medal. 
        </p>
    </div>  
</div>

<div class="columns section is-centered"> 
    <div class="column ">
        <div class="subtitle">
            Life of Astrid Lindgren
        </div>
         <p>
            She was also awarded an honorary doctorate at Linköping University, the University of Leicester 
            and the University of Warsaw. Several prizes have also been instituted in her name, the most important of which is 
            the Literature Prize in Astrid Lindgren's memory instituted in 2002 by the Swedish government. The prize sum is five
            million kroner[2], which makes it the world's largest literary prize after the Nobel Prize in Literature. During the
            latter part of his life, Lindgren was also a significant social debater.
            In the 1976 election campaign, her short story Pomperipossa i Monismanien was published in Expressen. 
        </p>
    </div>
     <div class="column has-text-centered">
        <img src="/images/img_astrid/astrid.lindgren.header2.jpeg" alt="">
    </div>
</div>