<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="/startLayout.css">
</head>

<h1 class="title has-text-centered pt-6">
    Contact 
</h1> 

<marquee behavior="scroll" direction="right">        
    <img src="images/img_ovrigt/karlssonFlyger.jpeg" alt="Karlsson på taket flyger" id="karlssonFlies"> 
</marquee>  
<div class="columns is-centered">
    <div class="section column is-3">
        <p>
            Mail: pippilangstrump@gmail.com
        </p>
        <p>
            Phone: 070 074 62 83
        </p>
    </div>
    <div class="section column is-3">
        <p> Villevillakullavägen 5 </p>
        <p> SMÅLAND </p>
        <p> 123 45 </p>
    </div>
    <div class="section column is-3">
        <p> Instagram: Pippi.Viktoalia.Rullgardina </p>
        <p> Twitter: pippi.langstrump </p>
    </div>
</div>
<div class="column has-text-centered">
    <img src="/images/img_characters/header-character.jpeg" alt="">
</div>