<link rel="stylesheet" href="/layout.css">

<h1 class="title has-text-centered pt-6">
        Login
</h1> 
{{#if validationError.length}}
    {{#each validationError}}
        <li>{{this}}</li>
    {{/each}}
{{/if}}





<div class="columns is-centered">
    <div class="column is-hidden-mobile">
        <section class="container">
            <div class="has-text-centered px-6">                                            
                <img src="/images/img_ovrigt/emilBlue .jpeg" >                                      
            </div>
        </section>
    </div>


    <div class="column is-5">
        <div class="columns">
            <div class="column">
                <div class="box ">
                    <form method="POST"  action="" onkeydown="return event.key != 'Enter';">
                        <div class="mb-3">
                            Username: <input type="text" name="username" placeholder="Type username" class="input">
                        </div>
                        <div class="mb-3">
                            Password: <input type="password" name="password" placeholder="Type password" class="input">
                        </div>
                        <div class="column has-text-centered">
                            <button class="button is-medium is-responsive mt-6">
                                Login
                            </button>
                        </div>  
                    </form>
                </div>
            </div>  
        </div>
    </div>


    <div class="column is-hidden-mobile">
        <section class="container">
            <div class="has-text-centered px-6">                                            
                <img src="/images/img_ovrigt/pippiLillagubben .jpeg" >                                      
            </div>
        </section>
    </div>
</div>















