<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrid Lindgren</title>    
    
    <link rel="stylesheet" href="/startLayout.css">


<h1>The world of Astrid Lindgren</h1>
<p>Welcome to Astrid Lindgrens official website. Here you can find information about Astrid Lindgren as a person, about her stories and beloved characters.
    You can also discover places where you can experience her life and work.
</p>

<p>Pippi Långstrump, Emil i Lönneberga, Bröderna Lejonhjärta, Tjorven &amp; Skrållan, Bullerbybarnen, Madicken, Ronja... 
    Millions of children and adults over the entire world love these charachters and feels like home in Villa Villekulla, Snickeboa, Junibacken and
    on Saltkråkan. All these worlds are created by Astrid Lindgren, one of the most read children author in the world.
</p>



<form action="" method="post">
    
</form>








 
 
  

